<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.happyjob.study.domain.instructor.dao.IJoinDAO">

    <!--  중복된 강사 아이디 갯수 확인  -->
    <select id="selectInstrucDuplicateIDCnt" parameterType="String" resultType="int">
        select count(*) from tb_userinfo where loginID=#{loginID}
    </select>

    <!-- 강사 등록 이메일 보낼 때 사용   -->
    <!-- loginID,user_type(I),password, chk_tem_password(Y), email,reg_date, status(D) -->
    <insert id="insertRegisterInstructor" parameterType="Map">
        insert into tb_userinfo
        (loginID, user_type, password, chk_tem_password, email, reg_date, status)
        values
        (#{id},'I',#{password},'Y',#{email}, DATE_ADD(NOW(), INTERVAL 9 HOUR), 'W')
    </insert>

    <!-- (강사 초기 등록)강사 id, password 비교 -->
    <select id="chkInstructorIdAndPassword" parameterType="Map" resultType="int">
        select count(*) from tb_userinfo
        where user_type='I' and loginID=#{id}
            and password=#{password} and chk_tem_password='Y' and status='W'
    </select>

    <!-- (강사 초기 등록)id를 가지고 이메일 가져오기   -->
    <select id="selectEmailById" parameterType="String" resultType="String">
        select email from tb_userinfo
        where loginID=#{loginID} and user_type='I' and status='W'
    </select>

    <!-- (강사 초기 등록)강사 정보 등록   -->
    <update id="updateInstructorInfo" parameterType="kr.happyjob.study.domain.student.model.UserInfoVO">
        update tb_userinfo
        set user_type='I', name=#{name}, password=#{password}, chk_tem_password='N',
            zipcode=#{zipcode}, addr1=#{addr1}, addr2=#{addr2},
            birthday=#{birthday}, phone=#{phone},
            edu_level=#{edu_level}, career=#{career},
            img_name=#{img_name}, img_logi_path=#{img_logi_path}, img_phy_path=#{img_phy_path},
            status = 'R'
        where loginID=#{loginID} and email=#{email}
    </update>

</mapper>